@import "tailwindcss";
@plugin "@tailwindcss/typography";

:root {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  color: #213547;
}

body {
  min-height: 100vh;
}
